.layoutSolicitacao{
    display: flex;

}


.containerPrincipalSolicitacao{
    width: 95vw;

}

.headerSolicitacao{
    border: solid red;
    width: 20vw;
    display: flex;

}

.mainSolicitacao{
    width: 100%;
}