@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.containerReembolsos{
  display: flex;
}


header {
  width: 13vw;
  height: 5vh;
  display: flex;
  // border: solid red;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Inter";
  font-size: 0.9rem;

  img{
    width: 6%;
  }
  
}

.mainReembolsos {
  //border: solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94vw;
  height: 95vh;
  font-family: "Inter";

  div {
    width: 60%;
  }
}

.containerCards {
  display: flex;
  justify-content: space-between;
 // border: solid green;
  height: 20vh;
  width: 51%;
  margin-top: 1rem;
  color: #23282F;
  font-family: "Inter";
  margin-right: 10%;
  
}

article {
  border: solid #CBD4E1;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  border-width: 1px;
  border-radius: 8px;

}

.containerStatus {
  width: 51%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border: solid #CBD4E1;
  margin-top: 1rem;
  font-family: "Inter";
  margin-right: 10%;
  border-width: 1px;
  border-radius: 8px;
  

  div {
    width: 21%;
    height: 5vh;
  //  border: solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Inter";
    font-size: 0.9rem;
   
  }
}

.imgSolicitados{
  background-color: #00bedd;
  border-radius: 6px;
  padding: 6px;
  font-size: 1rem;
  color: #23282F; 
  font-family: "Inter";
}

.imgAnalises{
  background-color: #E56700;
  border-radius: 6px;
  padding: 6px;
  font-size: 1rem;
  color: #23282F;
  font-family: "Inter";
}

.imgAprovados{
  background-color:#007A6A ;
  border-radius: 6px;
  padding: 6px;
  font-size: 1rem;
  color: #23282F;
  font-family: "Inter";
}

.imgRejeitados{
  background-color:#A60B2F ;
  border-radius: 6px;
  padding: 6px;
  font-size: 1rem;
  color: #23282F;
  font-family: "Inter";
}

.sistemaAtualizado{
  display: flex;
  align-items: flex-start;
  margin-top: 2%;

  img{
    
  }
  

  h5{
    color: #0844C4;
    font-size: 0.7rem;
    font-family: "Inter";
    margin-left: 1%;
  }
}