main{
    
    display: flex;

}

.containerLogin{
    border: solid red;
    background-image: url("../../assets/Tela\ Login/imagem tela de login.png");
    height: 100vh;
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}

.containerForm{
    border: solid blue;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        border: solid fuchsia;
        width: 40vw;
        font-size: 2rem;
        color: #001a3d;
    }

    p{
        border: solid gold;
        width: 60%;
        color: #0b44C4

    }
}

form{
    border: solid violet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: vh;
    align-items: center;
    
    input{
        width: 20vw;
        height: 5vh;
        border-radius: 6px;
    }

    a{
        width: 20vw;
        height: 5vh;
        border: solid crimson;
        display: flex;
        text-decoration: none;
        color: #63758D;


    }

    div{
        border: solid black;
        width: 50%;
        display: flex;
        justify-content: space-evenly ;
        .buttonEntrar{
            background-color: pink;
            width: 3vw;
            height: 5vh ;
            border-radius: 6px;
        }

        .buttonCriar{
            background-color: violet;
            width: 6vw;
            height: 5vh ;
            border-radius: 6px;
        }

    }
}

